*, *::before, *::after {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    /* border-top: 4px solid black; 
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 10px; */
    min-height: calc(100% - 40px); /* footer의 높이가 40px로 가정하면, 이 값을 조정하십시오. */
    padding-bottom: 40px; /* footer의 높이 */
    position: relative; /* footer를 상대적으로 배치 */
    display: flex;

}
.blank{
    width: 2%;
    height: 100%;
    display: inline-flex;
}
.left-section {
    width: 20%; 
    height: 100%;
    display: block;
}



.login{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;  /* 가로축 중앙 정렬 */
    align-items: center;      /* 세로축 중앙 정렬 */
    margin-left: 0.3em;
}

.computing{
    width: auto; 
    height: auto;
    padding: auto;
    display: block;
}

.split{
    border-left: 5px solid black;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2), 2px -2px 5px rgba(0, 0, 0, 0.2);
    width: 0.1px;
    height: 100;
    margin: 0.2em;
}

.right-section{
    width: 77%; 
    height: 100%;
    display: block;
    justify-content: space-between;
    margin-right: 10em;
}
.top-figure{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.geo{
    width: auto;
    height: auto;
}
.bottom-figure{
    width: auto;
    display: flex;
    justify-content: center;
}
.logo {
    flex: 1;
    margin-left: 0.5em;
    font-size: 25px; /* 원하는 폰트 크기로 조정 */
    display: inline-block;
}
.footer {
    background-color: #343a40;  /* dark background */
    color: #ffffff;  /* white text color */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer A {
    color: #ffc107;  /* golden color for links */
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}